@{
    ViewBag.Title = "Inicio";
}
<button type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Administrador/")'">Administrador</button>
<button type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Home/")'">Cliente</button>